@import './color.styl'
@import '~antd/dist/antd.css'

.index
    height 100%
    display flex
    flex-direction column

.section
  overflow-y scroll
  flex 1

// footer
.footer
  width 100%
  text-align center
  color #999
  padding .04rem 0