@import './index.styl'

.search_box
    border-bottom 1px solid #e0e0e0
.search-inp
    width 90%
    height .3rem
    border-radius .4rem
    background #f5f4f4
    margin .14rem auto
    input 
        outline none
        border none
        height .3rem
        width 85%
        background transparent
        padding-left .06rem
    .clear 
        color #bcbdbd
    .icon
        margin-left .14rem
        font-size 12px
        color #cdcdcd
    
.hotkey
    .hot_word
        font-size 13px
        margin .06rem  0 0 0
    .keybtn
        display inline-block
        margin .07rem .1rem
        color #333
        padding 0 .1rem
        height .34rem
        line-height .34rem
        border 1px solid #e8e9ec
        border-radius .4rem

// 建议弹框
.suggest
    padding 0 .1rem
    .search_word
        color $fontcol2 
        padding .06rem
        margin 0
        border-bottom 1px solid #e0e0e0
    .sug_ul
        width 100%
        font-size 16px
        color #333
        .sug_li
            display flex
            .icon
                font-size 12px
                color #cdcdcd
                height .4rem
                line-height .4rem
                margin-right .1rem
            .sug_key
                flex 1
                height .4rem
                line-height .4rem
                border-bottom 1px solid #e0e0e0
.his_box
    padding-left .1rem
.his_ul
    .his_li 
        border-bottom 1px solid #e0e0e0
        padding .04rem 0       